@charset "utf-8";
/* CSS Document */


ul{padding-left:0px; list-style:none;}

/*------------- Blog List -----------------*/

.blog {
	color: #434343; 
	padding: 50px 0 50px;
	background: #F8F8F8;
}

.blog-list{
	background:#101111 url(images/bg/slider-bg.html) no-repeat fixed top center;
	position: relative;
	height:460px;
}
.blog p {
    margin: 0 0 15px;
	font-size: 15px;
}

.blog .post{
	background-color: #ffffff;
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;	
}
.blog .col-md-8 {
	padding-right:0px;
}
.blog .post-content{
	background-color:#ffffff;
	padding:30px 40px;
}
.post-content i {
	font-size:20px;
	font-weight:700;
	font-family: 'Droid Sans',serif;
	font-style:italic;
}
.post-item h2 {
	text-align:left;
	margin-bottom: 40px;
	font-family: 'Droid Sans',serif;
	font-size:30px;
}
.post-item h2, .post-item h2 a {
	color:#0c1f34;
	font-family: 'Droid Sans',serif;
	font-weight: bold;
}

.post-item h2:hover, .post-item h2 a:hover {
	color:#10bcf4;
}

.blog .posted-date {
	margin-top:15px;
	color:#EA9761;
}
.single .posted-date {
	margin-bottom: 15px;
	margin-top:0px;
}
.post-nav {
	text-align:center;
	margin-top: -40px;
}
.pagination > li > a, .pagination > li > span {
	margin:0 4px;
	background-color:#EA976F;
	color:#fff;
	font-weight:700;
	border-radius:4px;	
	border:none;
}
.pagination > li > a:hover,
.pagination > li.active {
	background:#0c1f34;
	color:#ffffff;
	border:none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background:#0c1f34;
	color:#ffffff;
	border:none;
}

.share-btn .btn{
	margin-right:10px;	
}
/*-------------- SideBar ---------------*/

.sidebar {
	margin-left: 20px;
	margin-top:0px;
}
.sidebar .widget {
	position:relative;
	margin-bottom:40px;
	padding:30px;
	background-color:#ffffff;
}
.search {
	margin-bottom:30px;
	position:relative;
}
.search form {
	padding: 20px 30px;
	height: 70px;
	border: none;
	box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.search input[type="search"]::-moz-placeholder {color: #0c1f34;}
.search input[type="search"] {	
	font-size:15px;
	font-weight:300;
	width: 100%;
	border: none;
}

.search input[type="submit"] {
	background: url(../images/search.png) no-repeat scroll 0 0 / 100% 100%;
	width: 30px;
	height: 30px;
	border: none;
	text-indent: -999999px;
	position:absolute;right:15px;
	bottom:20px;
}

.sidebar .widget h2 {
	font-size:20px;
	font-family: 'Droid Sans',serif;
	font-weight:bold;
	margin-bottom:30px;
	color:#cccccc;
	text-align:left;
	text-transform:uppercase;
}

.sidebar .widget h3,
.sidebar .widget h3 a {
	font-size:20px;
	color:#0c1f34;
	text-align:left;
	font-family: 'Droid Sans',serif;
	font-weight: bold;
	
}

.sidebar .widget h3,
.sidebar .widget h3 a {
	font-size:16px;
	margin:0px 0px;
	display:block;
}

.sidebar .widget h3:hover,
.sidebar .widget h3 a:hover {
	color:#EA9761
}

.sidebar .widget img {
	position:absolute;
	left:30px;
}

.sidebar .widget li {
	margin-bottom:20px;
}

.sidebar .category-list li {
	margin-bottom:0px;
}

.sidebar .widget .content {
	margin-left:100px;
	min-height:85px;
}
.category-list li {
	padding:16px 0;
	margin-bottom:0px;
	border-bottom:1px solid rgba(0,0,0,.1);
}


/*---------------- Author -------------*/

.author {
	background-color:#ffffff;
	position:relative;
	min-height:275px;
	margin-bottom:40px;
}
.author img {
	position:absolute;
}
.author-comment {
	margin-left:260px;
	padding:30px 30px;
}

.author-comment h5 { font-size:18px;}

/*---------------- Comments -------------*/


.title-head {
	font-size:30px;
	font-weight:900;
}
.comment-list li {
	margin:0px 0 90px 0;
	position:relative;
}
.comment-list li img {
	border-radius:50%;
	width:130px;
	height:130px;
	position:absolute;
}
.comment-details {
	margin-left:180px;	
}

.blog .comments {
	background-color:#ffffff;
	padding:40px;
	border-radius:10px;
}

.blog .comments:before {
		border-style: solid;
		border-width:  0 0 30px 30px;
		top: 50px;
		content: "";
		display: block;
		left: 165px;
		position: absolute;
		width: 0;
		z-index: 1;
		border-color: transparent #ffffff;		
		transform:rotate(-45deg);
}

.blog .comments p {
	margin-bottom:0px;
	font-family: 'Droid Sans',serif;
	font-size: 15px;
}

.comment-meta {
	min-height:50px;
}
.comment-meta .user-name {
	float:left;
	font-weight:700;
	width:50%;
}
.comment-meta .posted-date {
	float:right;
	width:50%;
	text-align:right;
}

.reply {
	height:30px;
	padding:4px 30px;
	margin:0px 40px;
	text-transform:uppercase;
	border-radius:0;
	font-weight:700;
	float:right;
	background: #0c1f34;
	color: #fff;
}

.reply:hover {
	background:#EA9761;
	color: #fff;
}

.comments-form .btn {
	text-transform:uppercase;
}

.comment-area input[type="text"], .comment-area input[type="phone"], .comment-area textarea, .comment-area input[type="email"] {
background: none repeat scroll 0 0 #fff;
border: 1px solid #10bcf4 !important;
width:auto;
padding: 15px 12px;
display:block;
margin:12px 16px; margin-left:0px !important;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
height:54px;
line-height:52px;
width:85%;
}

.comment-area textarea { height:auto; line-height:20px; width:98%; min-height:180px;}
.comment-area button {
	margin-right:15px;
}

.comment-area button,
.comment-area input[type="submit"]{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:8px 30px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	background:#18263a;
	margin-top:20px;
}

.comment-area button:hover,
.comment-area input[type="submit"]:hover{
	color:#ffffff;
	background:#EA9761;
}



@media only screen and (max-width: 767px){

.comment-details {
		margin-left:0px; 
		padding-top:100px;
	}
	.comments:before {
		display:none;
	}
	section#blog, section.single.blog {
		padding-top:120px !important;
	}
	.title-head { 
		font-size:24px;
	}
	.author img { 
		position:static; 
		display:block; 
		margin:0 auto; 
		padding-top:40px;
	}
	.author-comment { 
		margin-left:0px;
		padding-top:30px; 
		float:none;
	 }
	.comment-area input[type="text"], 
	.comment-area input[type="phone"], 
	.comment-area textarea, 
	.comment-area input[type="email"]{ 
		width:100%;
	}
	.blog form { 
		padding-left:10px; 
		padding-right:10px;
	}
	.blog .post-content { 
		padding:25px 25px;
	}

