@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
body {
  font-family:;
  font-size: 13px;
  line-height: 1.7;
  color: #000;
  font-weight:200 !important;
font-family: 'Istok Web', sans-serif;
  background-color: #ffffff;
  letter-spacing:.2px;
}

a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration:none;


}
.font_wh{color:#FFF;}


a:hover,a:active{text-decoration:none; }
	 
	 

a, btn, button {
	text-decoration:none;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}
p {
  letter-spacing: 0.5px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: 1.7;
    font-weight:400;
	font-family:Arial, Helvetica, sans-serif;
	}

h1, h2, h3 {
    margin:0px 0px 20px 0px;
}



.ml15{margin-left:15px;}
.mr15{margin-right:15px;}

.pb15{padding-bottom:15px;}
.pt15{padding-top:15px;}

.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}

.mt50{margin-top:50px;}
.mb50{margin-bottom:50px;}

.pt100{padding-top:100px;}
.pb100{padding-bottom:100px;}


.btn1{
    background: #FFFFFF;
    min-width: 85px;
    margin: 0 0 0 9px;
    padding: 9px 20px 10px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #333333;
		text-transform:lowercase;

}
.btn1:hover{background:#e8a443; color:#FFF;}

.btn2{
    background:#e8a443;
    min-width: 85px;
    margin: 0 0 0 9px;
    padding: 9px 20px 10px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
	text-transform:lowercase;
}
.btn2:hover{background:#fff; color:#333;}

.read_more{
    min-width: 85px;
    margin: 0 0 0 9px;
    padding: 9px 20px 10px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #e8a443;
	text-transform:lowercase;
	border-left:1px #CCCCCC solid;
}
.read_more:hover{color:#FFF;}

.nav_top{background:#333; padding:20px 0px;}
.nav_top .short_nav{display:block !important; width:100%;}
.nav_top .short_nav p{color:#b5b5b5; padding:0px; margin:5px 0px 0px 20px;line-height:14px; font-size:12px; display:inline-block;}
.nav_top .short_nav p i{font-size:20px; color:#FFF; margin-right:10px;}
.social{list-style:none; padding-left:0px; margin:0px; text-align:right;}
.social li{list-style:none; display:inline-block;  margin:0px; padding:0px;}
.social li a{display:inline-block;font-size:20px; color:#FFF; margin:0px 5px;}




/*==========nav====================*/

.top_header {
	display: block;
	width: 100%;
	background: #FFF;
	border: none;
	transition: all ease-in-out .4s;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	text-transform: capitalize !important;
}
.navbar-default {
	background: none;
	border: none;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
}
.navbar-brand {
	float: left;
	height: 50px;
	padding:7px 15px;
	line-height: 20px;
}

.nav>li {
	padding: 10px 0px;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 17px 15px;
	font-size: 12px;
}
.top_header .navbar-default .navbar-nav>li>a {
	color: #666;
	font-weight: 600;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
		transition:all ease-in-out .4s;

}
.top_header .navbar-default .navbar-nav>li>a:hover {
	color:#fff;
	background:#EA9761; border-radius:10px;
	transition:all ease-in-out .4s;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 14px 10px;
	margin-top: 17px;
	margin-right: 15px;
	margin-bottom: 18px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.42857143;
	color: #000;
	white-space: nowrap;
}
.dropdown-menu>li>a:hover {
	color: #fff;
	background: #093;
}
.navbar-right .dropdown-menu {
	right: 0;
	left: 0;
}


/*=============================main-slider==========================*/

#block {
	overflow: hidden;
	position: relative;
}
#slider_warper {
	overflow: hidden;
	position: relative;
	padding-top:0px;
}
.slides {
	width: 100% !important;
}
.main-slider {
	text-align: center;
	color: #fff;
}
.main-slider .slides h2 {
	color: #fff;
	font-size:46px;
	line-height:46px;
	font-weight: 300 !important;
	text-align: left;
	padding-left: 15%;
}
.main-slider .slides h3 {
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	font-weight: 600 !important;
	text-align: left;
	margin-left: 15%;
	padding-left: 10px;
	border-left: 5px solid #e11313;
}
.inner_warp {
	width: 100%;
}
.inner_inner {
    width: 100%;
	padding:300px 0px;
}
.main-slider .flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 30px;
	text-align: center;
	z-index: 111;
	right: 0;
}
.main-slider .flex-control-paging li a {
	width: 30px;
	height: 4px;
	display: block;
	background: #666;
	background: rgba(255,255,255,0.8);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.main-slider .flex-control-paging li a:hover {
	background: #EA9761;
}
.main-slider .flex-control-paging li a.flex-active {
	background: #EA9761;
}

/*=============================main-slider==========================*/

.about_home{background:#222; padding:50px 0px 30px 0px; color:#FFF;}
.about_home h1,.about_home h3{margin:0px; line-height:40px;}

.about_outer{background:#222; padding:60px 0px 30px 0px; color:#FFF;}
.about_outer_inner{position:relative; padding-left:60px; margin:20px 0px;}

.about_outer_inner i{position:absolute; font-size:24px; width:40px; height:40px; top:10px; left:0; background:#FFF; color:#000; text-align:center; font-family:Arial, Helvetica, sans-serif; border-radius:10px;}



.our_standard{ background:#444; padding:60px 0px 30px 0px; color:#FFF;}
.our_standard h3{color:#e8a443;}
.stand_box{position:relative; padding-left:80px; color:#FFF; margin-bottom:30px;}

.stand_box i{width:60px; height:60px; border-radius:100%; border:2px #CCCCCC solid; display:block; position:absolute; left:0px; top:0px;
text-align:center; line-height:60px; font-size:36px; color:#e8a443;}

.stand_box h4{font-size:16px;}
.stand_box p{color:#CCC;}
.history_box h4{line-height:0px;}
.history_box h4 a{color:#e8a443;}
.about_outer h3{margin-bottom:0px !important;margin-top:20px line-height:10px;}
.about_outer .sevice_box h3{margin-top:0px !important; line-height:0px;}


.services_home{background:#333; padding:10px 0px;}
.sevice_box{padding:10px 0px; color:#CCC; margin-bottom:30px;}
.sevice_box p{color:#FFF; margin:30px 0;}
.sevice_box_inner{position:relative; padding-left:70px; margin:20px 0px;}
.sevice_box_inner i{position:absolute; left:0px; top:0px; font-size:50px; line-height:130%; color:#EA9761;}
.sevice_box_inner h3{line-height:130%; color:#FFF; }
















/*================isotope=========*/
.portfolio{padding:60px 0px 0px 0px; background:#555; color:#FFF;}
.portfolio,.loaded,.section-portfolio{background:#555;}
.section-portfolio{background:#555; padding-bottom:50px;}
.section-portfolio .col-md-4 {
	margin-bottom: 30px;
}
#filters {
	padding-left: 0px;
	margin: 20px auto;
	max-width: 500px;
}
#filters li {
	display: inline-block;
}
#filters li a {
	display: inline-block;
	padding: 10px;
	color:#EA9761;
}
#filters li a:hover {
	background:#EA9761;
	color: #FFF;
	border-radius: 10px;
}
.item-box {
	position: relative;
	overflow: hidden;
	display: block;
}
.item-box img {
	width: 100%;
}
.item-box:hover .wpm-item {
	opacity: 1;
	visibility: visible;
	height: 100%;
}
.item-box:hover .wpm-item .item-caption {
	bottom: 30px;
	opacity: 1;
}
.item-box:hover .item-container {
	transform: scale(1.1);
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	width: 100%;
}
.wpm-item {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	height: 100%;
	position: absolute;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}
.wpm-item h5, .wpm-item h6, .wpm-item p {
	color: #fff;
	margin-bottom: 0px;
}
.wpm-item p {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1.5px;
	font-weight: 400;
	margin-top: 0;
	text-align: left;
}
.wpm-item .item-caption {
	position: absolute;
	bottom: -60px;
	left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	opacity: 0;
}
/*=================isotope=================*/

.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: .8s;
	-moz-transition-duration: .8s;
	-ms-transition-duration: .8s;
	-o-transition-duration: .8s;
	transition-duration: .8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}


/*================isotope=========*/





.mission{ background:#222; padding:50px 0px 20px 0px; color:#FFF;}

.mission_ul{margin:0; padding:0;}

.mission_ul li {
    background: none;
    position: relative;
    margin:9px 0;
    padding: 9px 0 8px 19px;
    border-top: 1px solid #3f4041;
    list-style: none;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;  
}


.mission_ul li:before{content:"\f10a"; font-family:ionicons; position:absolute; left:0px;}
.mission_ul li a{color: #FFFFFF;font-size: 10px;}
.mission_ul li:first-child {border: none;}


.contact_inner_home{ background:#333; color:#FFF; padding:50px 0px 20px 0px;}
.contact_box{position:relative; padding-left:60px; display:block; margin-bottom:30px;}
.contact_box i{position:absolute; left:0; top:0; font-size:44px;}
.contact_box h3{font-size:20px;}


#Contact{padding:100px 0px 50px 0px;}

.Contact input{width:100%; padding:15px; line-height:20px; transition:all ease-in-out .4s; border:1px #000000 solid; color:#000; margin-bottom:30px; float:left;}
.Contact textarea{height:215px; width:100%;transition:all ease-in-out .4s; border:1px #000000 solid; color:#000; padding:20px; margin-bottom:30px; float:left; background:#FFF;}
.Contact .submited{width:100%; background:none; border:1px #000000 solid; text-align:center; transition:all ease-in-out .4s;}
.Contact .submited:hover{background:#000; color:#FFF; border:1px #000000 solid; text-align:center; transition:all ease-in-out .4s;}

.Contact input ::-moz-placeholder {color: #000;}

::-webkit-input-placeholder{ color:#000; }
 :-moz-placeholder { /* Firefox 18- */ color:#000; }
  ::-moz-placeholder { /* Firefox 19+ */ color:#000; }
  :-ms-input-placeholder { color: #000; }
  

/*====================social==================*/
.social_inner{padding:50px 0px 20px 0px; background:#f7f7f7;font-family:Arial, Helvetica, sans-serif; font-size:14px; }
.social_inner a{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; }
.social_inner ul{padding:0; list-style:none; font-family:Arial, Helvetica, sans-serif; text-align:center; display:block;}
.social_inner ul li{padding:0; margin:0px; display:inline-block; text-align:center;}
.social_inner ul li a{font-family:Arial, Helvetica, sans-serif;padding:10px; color:#222; font-size:14px; text-align:center;  display:inline-block;}


